<h1><%= @product.name %></h1>

<p>
    Id: <%= @product.id %><br>
    Name: <%= @product.name %><br>
    Description: <%= @product.description %><br>
    Price: <%= @product.price %><br>
    Created at: <%= @product.created_at %><br>
    Updated at: <%= @product.updated_at %>    
</p>